body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  background: #f0f0f0;
}

html {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

ol,
ul,
li {
  list-style: none
}

body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  color: #314659;
  font-size: 14px;
}

/* common */
.clearfix::after {
  content: '';
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
  display: block;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.border {
  border-radius: 5px;
}
