.comment-app-wrap {
  width: 600px;
  padding: 15px;
  margin: 15px auto;
  border: 1px solid #eae6e6;
  background: #fefefe;
}

/* CommentInput */
.comment-input-wrap {
  padding: 20px;
  border: 1px solid #eae6e6;
}

.comment-input-wrap .username {
  margin-bottom: 5px;
}
.comment-input-wrap > div > label {
  width: 90px;
  height: 28px;
  line-height: 28px;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 5px;
}
.comment-input-wrap input, .comment-input-wrap textarea {
  width: 280px;
  border: 1px solid #ededed;
  padding: 5px 10px;
  box-sizing: border-box;
}
.comment-input-wrap input {
  height: 28px;
}
.comment-input-wrap textarea {
  height: 100px;
  resize: none;
}
.comment-input-wrap .release button {
  width: 66px;
  height: 26px;
  background: #0094ff;
  outline: none;
  border: none;
  color: #ffffff;
}

/* Comment */
.comment-wrap {
  padding: 10px 0 20px;
  border-bottom: 1px solid #eae6e6;
}
.comment-wrap .username span {
  color: #0094ff;
}
.comment-wrap .comment p {
  line-height: 20px;
}
